.bodys{
	width: 100%;
	height: 900px;
}
.title{
	width: 100%;
	height: 90px;
	background-color: #000000;
}
.main{
	width: 100%;
	height: 620px;
	background-color: #505151;
}
.option{
	
	width: 606px;
	height: 503px;
	background-color: #505151;
	margin-left: auto;
    margin-right: auto;
  	font-size: 50px;
  	padding-top: 50px;
}
.option_title{
	width: 606px;
	height: 250px;
}
.openhouse{
	background-color: #777777;
	height: 250px;
	width: 200px;
	float: left;
}
.huiyuan{
	margin-left: 3px;
	height: 250px;
	width: 200px;
	background-color: #777777;
	float: left;
}
.baobiao{
	margin-left: 3px;
	height: 250px;
	width: 200px;
	background-color: #777777;
	float: left;
}

.option_file{
	margin-top: 3px;
	width: 606px;
	height: 250px;
}
.set{
	float: left;
	height: 250px;
	width: 200px;
	background-color: #777777;
}
.waimai{
	margin-left: 3px;
	height: 250px;
	width: 200px;
	background-color: #777777;
	float: left;
}
.more{
	margin-left: 3px;
	height: 250px;
	width: 200px;
	background-color: #777777;
	float: left;
}
.option span{
	color: white;
	padding-top: 80px;
	display:table-cell;
	padding-left: 40px;
	float: left;
}
a{
	text-decoration:none;
}
.file{
	width: 100%;
	height: 90px;
	background-color: blue;
}
