.fangjian{
	margin-left: 100px;
	margin-top: 50px;
	width: 200px;
	height: 200px;
	background-color: #5A6268;
	float: left;
	font-size: 12px;
}
.fangjian_title{
	width: 100%;
	height: 60px;
	background-color: #3F5259;
}
.container{
   display:table;
   height:100%; 
}

.row{
   display: table-cell;
   vertical-align: middle;

}
.fangjian span{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 15px;
}
